@import url(base.css);

.breadcrumb {
    margin-inline: 7%;
    margin-top: 16px;
    display: flex;
    align-items: center;
    gap: 4px;
}

.breadcrumb__link {
    color: var(--subTextColor); 
    font-size: 14px;
    transition: ease 0.2s;
}

.breadcrumb__link.active {
    color: var(--textColor);
    pointer-events: none; 
}

.breadcrumb__link:hover {
    color: var(--textColor);
}

.form-report {
    max-width: 830px;
    margin-inline: auto;
    margin-top: 4px; 
    margin-bottom: 40px;
}

.form__heading {
    font-size: 30px;
    font-weight: 800;
    color: transparent;
    background: var(--gradientColor);
    background-clip: text;
    -webkit-background-clip: text;
    text-align: center;
    margin-bottom: 16px;
}

.form__group-wrap {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 24px;
}

.form__group {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1;
}

.form__title {
    font-weight: 500;
}

.form__title span{
    color: var(--redColor);
}
.form__textarea,
.form__input {
    padding: 10px 12px;
    border-radius: 8px;
    background-color: var(--bgColor3);
    border: none;
    outline: none;
    color: var(--textColor);
}

.form__textarea {
    resize: none;
    height: 64px;
    overflow: hidden;
    margin-bottom: 24px;
}

.form__upload-group {
    width: 128px;
    height: 114px;
    border-radius: 8px;
    background-color: var(--bgColor3);
    position: relative;
    margin-bottom: 18px;
}

.form__upload-wrap {
    display: inline-flex;
    gap: 12px;
    flex-wrap: wrap;
}

.form__upload {
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.form__upload-text {
    color: #94A3B8;
    font-size: 14px;
}

.form__image-preview {
    width: 128px;
    height: 114px;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}

.form__preview-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.form__preview-remove {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    background-color: rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    cursor: pointer;
    top: 4px;
    right: 4px;
}

.form__action-group {
    display: flex;
    align-items: center;
    gap: 30px;
}

.form__action-item {
    display: flex;
    align-items: center;
    gap: 8px;
}

.form__radio-input {
    width: 24px;
    height: 24px;
}

.form__title-radio {
    font-size: 16px;
    font-weight: 500;
    color: #CCCCCC;
}

.form-report__btn {
    margin-top: 40px;
    margin-inline: auto;
    display: block;
}